.Home{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

}

.heading{
        font-family: 'Pacifico', cursive;
    font-size: 35px;
}
